/**
* Description: Core theme for CobraTriangle
*/

/**
* Structure
*/
html{}
body{
background-color:#f1f1f1;
font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header,
#main,
#footer {
margin:0 auto;
width:970px;
background-color:#fff;
padding: 1em;
}
